/* Style Body*/
body {
    background-image: url("../img/bg.jpg");
    background-position: center;
    background-size: cover;
    margin: 2px;
}

/* Style Nav*/
.navbar-nav{
    align-items: center;
    font-size: 1.8rem;
}

.mainlogo{
    height: 75px;
}

/* Style Temas*/
.temas {
    padding: 5px;
    margin: 5px 0px;
    list-style-type: none;
    background-image: url("../img/bgEsc.png");
    background-size: 75px;
    border-style: dashed;
    
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-row-gap: 5px;
    grid-column-gap: 5px;
    justify-items: center;    
}

.temas li {
    border-style: solid;
    border-color: #000000;
}

.temas li a img{
    height: 135px;
    width: 135px;
}

/* Style Main */
.mainindex{
    text-align: center;
    margin: 5px;
}

.mainindex img{
    height: 350px;
}

/* Style Footer */
footer {
    background-image: url(../img/bgEsc.png);
    background-size: 75px;

    padding: 5px;
    text-align: center;
    font-size: large;
}

footer ul {
    padding: 5px;
    margin: 0px;
    list-style-type: none;
}

#contacto ul{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    justify-items: center;   
}

#contacto ul li a img{
    height: 100px;
    width: 100px;
}

/* Style Secciones*/
.contenedor{
    margin: 5px 0px;
    border-style: dashed;
    font-size: large;
    font-weight: bold;
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.contenedor div{
    padding: 5px;
}

.info{
    width: 550px;
    display: flex;

    flex-direction: column;
    justify-content: center;
    
}

.info img {
    height: 100%;
    width: 100%;
}

.circuitos  div {
    padding: 5px;
    display: flex;
    flex-direction: row;
    
    justify-content:center;
}

.tabla-circuitos {
    border:1px sólido #C0C0C0;
    border-collapse:colapso;
    padding:5px;
}
.tabla-circuitos thead {
    border:1px sólido #C0C0C0;
    padding:5px;
    background:#F0F0F0;
}
.tabla-circuitos td {
    border:1px sólido #C0C0C0;
    padding:5px;
}