/* Style Main */
.mainindex{
    text-align: center;
    margin: $marginbase;

    p{
        font-size: large;
        font-weight: bold;
    }
    
    img {
        height: 350px;
    }

    iframe{
        height: $videotamH;
        width: $videotamW;
    }
}
