/* Style Secciones*/
.contenedor{
    margin: $marginbase 0px;
    border: dashed $genborder;
    font-size: large;
    font-weight: bold;
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
    div {
        padding: $paddingbase;
    }
}

.info{
    width: 550px;
    display: flex;
    
    flex-direction: column;
    justify-content: center;
}

.circuitos div{
    padding: $paddingbase;
    display: flex;
    flex-direction: row;
    
    justify-content:center;
}

.col-sm-6 img{
    width: 150px;
    
    &:hover{
        @include agregaranimacion (heartBeat,1s,ease-in-out);
    }
}

a{
    outline: none;
    text-decoration: none;
    color: #000000;    
}

.card-img-top:hover{
    @extend a;

    @include agregaranimacion (headShake,1s,ease-in-out);
}

.anim-inicio-l{
    @include agregaranimacion (entrada-lat-l,1s,ease-in);
}

.anim-inicio-r{
    @include agregaranimacion (entrada-lat-r,1s,ease-in);
}