//Imagenes fondo varias
$fondoprincial:"../img/bg.jpg";
$fondosecundario:"../img/bgEsc.png";

//Colores varios
$bordecolor:#000000;

//Variables base separaciones
$marginbase: 5px;
$paddingbase: 5px;
$gapbase: 5px;

//Tamanos varios
$logotam: 75px;
$temastam: 125px;
$fondosectam: 75px;
$socialstam: 100px;
$videotamH: 150px;
$videotamW: 300px;

//Otros
$genborder: 3px $bordecolor;